html , body{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f7f9fc;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 40px;
    background: #0a66c2;
    color: white;
    z-index: 1000;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 30px;
    margin-right: 10px;
}

.nav-links a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.btn {
    color: #0a66c2;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 500;
}

.main-content {
    margin-top: 70px;                 
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 40px;
}

.card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    margin-top: 20px;
}
