<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>

<nav class="main-nav">
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <span>susu</span>
    </div>

    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/history">History</a>
        <a href="/analyze">Analyze</a>
        <a href="/doctors">Doctors</a>

        {% if session.get("user_id") %}
            <a href="/logout">Logout</a>
        {% else %}
            <a href="/login" class="btn">Login</a>
            <a href="/signup" class="btn">SignUp</a>
        {% endif %}
    </div>
</nav>

<main class="main-content">
    {% block content %}{% endblock %}
</main>

</body>
</html>
